# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
tomcat
build
logs
gradle
.gradle
protoGen
.DS_Store
