<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- The FILE and ASYNC appenders are here for 'online' profile -->
    <springProfile name="online">
        <appender name="FILE"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/application.log</file>
            <rollingPolicy
                    class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/application-log-%d{yyyy-MM-dd}.gz
                </fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <charset>utf-8</charset>
                <Pattern>%date{yyyy-MM-dd HH:mm:ss} - [%level] - %logger - %message%n%xException
                </Pattern>
            </encoder>
        </appender>

        <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
            <queueSize>512</queueSize>
            <appender-ref ref="FILE"/>
        </appender>
    </springProfile>

    <springProfile name="docker">
        <appender name="DOCKER_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
    </springProfile>


    <logger name="com.redteamobile.dolphin" level="#logback.loglevel#"/>

    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="com.sun" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>
    <logger name="org.jboss" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.boot" level="INFO"/>
    <logger name="springfox" level="WARN"/>
    <logger name="liquibase" level="INFO"/>
    <logger name="sun.rmi" level="WARN"/>
    <logger name="sun.net.www.protocol.http.HttpURLConnection" level="WARN"/>
    <logger name="javax.activation" level="WARN"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <root level="#logback.loglevel#">
        <springProfile name="dev, default">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <springProfile name="docker">
            <appender-ref ref="DOCKER_CONSOLE"/>
        </springProfile>
        <springProfile name="online">
            <appender-ref ref="FILE"/>
        </springProfile>
    </root>

</configuration>
