spring:
  application:
    name: config
  cloud:
    config:
      server:
        git:
          uri: https://github.com/zhanghuabo/Dolphin
          search-paths: config
          username: zhanghuabo
          password: 11241124zhb
  rabbitmq:
    host: 52.74.213.195
    port: 5672
    username: guest
    password: guest
server:
  port: 7977
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
management:
  endpoints:
    web:
      exposure:
        include: bus-refresh



